
.landing-user {
    color: #E22020;
}

.title-user {
    color: #470808;
    font: 700 42px 'Inter', sans-serif;
    margin-top: 34px;
    padding: 20px;
    TEXT-ALIGN: center;
}
.message {
    color: #5aa2e1;
    font: 700 20px 'Inter', sans-serif;
    margin-top: 34px;
    padding: 20px;
    TEXT-ALIGN: center;
}

